.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.news-hero__img {
  max-width: 120px;
}

.achievement-img {
  max-width: 420px;
  min-width: 180px;
  width: 100%;
}

.achievement-accordion {
  border-radius: 1rem;
}

.achievement-video {
  max-width: 420px;
  max-height: 420px;
  border-radius: 0.5rem;
}