body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

img {
  border-radius: 1rem;
}

a {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: #eeeeee !important;
}

.text-warning {
  color: var(--accent) !important;
}

.text-muted {
  color: var(--gray) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.6rem;
  line-height: 1;
  font-weight: bold;
  padding: 0.5rem;
  color: var(--primary) !important;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.btn-primary {
  color: var(--light);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-warning {
  color: var(--dark);
  background-color: var(--accent);
  border-color: var(--accent);
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-light {
  fill: var(--light);
}

.icon-dark {
  fill: var(--primary);
}

.hero-img {
  object-fit: cover;
  height: 560px;
}

.aboutus-img {
  object-fit: contain;
  width: 425px;
  height: 425px;
}

.social a {
  text-decoration: none;
  color: var(--light);
}

.pt {
  padding-top: 70px;
}

.dmb {
  margin-bottom: 130px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--secondary);
  background-clip: border-box;
  border: none;
  border-radius: 1rem;
}


.swiper {
  max-width: 1440px;
  height: 100%;
}

.help-wrapper {
  padding: 2.5rem 0;
}

.help-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.help-button img {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.help-button-prev {
  position: absolute;
  top: 25%;
  left: -1rem;
  z-index: 10;
}

.help-button-next {
  position: absolute;
  top: 25%;
  right: -1rem;
  z-index: 10;
}


.listitem {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
  pointer-events: none;
}

.listitem:hover {
  color: var(--primary);
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }

  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
  }
}

@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0)
  }

  100% {
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(-100%, 0)
  }
}


.partnersticker {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden
}

.partnersticker span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 60s infinite linear;
  -moz-animation: scroll 60s infinite linear;
  animation: scroll 60s infinite linear
}

@media (min-width: 992px) and (max-width: 1215px) {

  /* footer title */
  .fz-md {
    font-size: 3rem;
  }
}